/// This code generates classnames with specific border-radius value
/// Each classname supports $breakpoints
/// 
/// @author nightrunner91
/// 
/// @link https://github.com/nightrunner91/nightvue/#radius
/// @link https://developer.mozilla.org/ru/docs/Web/CSS/border-radius
///
/// @output
///   .rounded-small { border-radius: 4px }
///   .rounded-tl-small { border-top-left-radius: 4px }
///   .rounded-t-small {
///     border-top-left-radius: 4px;
///     border-top-right-radius: 4px;
///   }
///
///   @media screen and (min-width: 768px) {
///     .rounded-b-sm-large {
///        border-bottom-left-radius: 20px;
///        border-bottom-right-radius: 20px;
///      }
///   }

@mixin make-radius($breakpoint: null) {
  @each $name, $size in $radiuses {
    .rounded#{$breakpoint}-#{$name} {
      border-radius: $size !important
    }

    .rounded-tl#{$breakpoint}-#{$name} {
      border-top-left-radius: $size !important
    }

    .rounded-tr#{$breakpoint}-#{$name} {
      border-top-right-radius: $size !important
    }

    .rounded-bl#{$breakpoint}-#{$name} {
      border-bottom-left-radius: $size !important
    }

    .rounded-br#{$breakpoint}-#{$name} {
      border-bottom-right-radius: $size !important
    }

    .rounded-t#{$breakpoint}-#{$name} {
      border-top-left-radius: $size !important;
      border-top-right-radius: $size !important;
    }

    .rounded-r#{$breakpoint}-#{$name} {
      border-top-right-radius: $size !important;
      border-bottom-right-radius: $size !important;
    }

    .rounded-b#{$breakpoint}-#{$name} {
      border-bottom-left-radius: $size !important;
      border-bottom-right-radius: $size !important;
    }

    .rounded -l#{$breakpoint}-#{$name} {
      border-top-left-radius: $size !important;
      border-bottom-left-radius: $size !important;
    }
  }
}

@include make-radius();

@each $breakpoint, $size in $breakpoints {
  @media screen and (min-width: #{$size}) {
    @include make-radius('-' + $breakpoint);
  }
}