// ================== //
// ====== FONTS ===== //
// ================== //

/// Include your fonts here, at the very beginning of CSS document
/// NightVue uses mixin @font-face to import font-families (see mixins.scss file)
/// Make sure to store your fonts in 'src/assets/fonts' folder
/// Each font must be saved in a folder with the same name as font itself
/// See how we stored and imported Onest font from 'src/assets/fonts/Onest' folder

@include font-face('Onest', 'OnestRegular', 400, normal, 'recent');
@include font-face('Onest', 'OnestMedium', 500, normal, 'recent');
@include font-face('Onest', 'OnestBold', 700, normal, 'recent');
@include font-face('Onest', 'OnestBlack', 900, normal, 'recent');


// =========================== //
// ====== TEXT SELECTION ===== //
// =========================== //

/// This code will define styles of text selection across all website
/// @link https://developer.mozilla.org/ru/docs/Web/CSS/::selection
///
/// @example
///   @include selection('black', 'white');

@mixin selection($background, $color) {
  ::-moz-selection {
    background-color: color($background);
    color: color($color);
  }
  
  ::selection {
    background-color: color($background);
    color: color($color);
  }
}

// @include selection('black', 'white');


// =========================== //
// ====== TRUNCATED TEXT ===== //
// =========================== //

.text-truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-dotted {
  &:after {
    content: '…'
  }
}
